.nav-container {
  justify-content: space-between;
  padding: 20px;
  background-color: #a1eebd89;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  backdrop-filter: blur(10px);
}

.nav-head {
  font-family: "Protest Revolution", "sans-serif";
  font-size: 28px;
  color: #191919;
  cursor: pointer;
}

.info-details-container {
  width: 30%;
  justify-content: space-between;
  list-style-type: none;
}

.info-link {
  font-size: 14px;
  font-weight: bold;
  color: #191919;
  cursor: pointer;
}

.nav-btn {
  font-size: 14px;
  font-weight: bold;
  background-color: #f9b572;
  padding: 6px !important;
  width: 120px;
}
.nav-btn-icon {
  margin-right: 6px;
}

.log-out-btn {
  font-size: 14px;
  font-weight: bold;
  background-color: #d67bff;
  padding: 6px !important;
  width: 80px;
}
