.main-container {
  background-image: url("finTrackLogin.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .login-illustration-img {
  width: 50%;
  height: 400px;
  border-radius: 20px;
} */

.sign-form-main-container {
  background-color: #effffd75;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 12px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-head {
  font-family: "Protest Revolution", "sans-serif";
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #102c57;
  margin-bottom: 20px;
}

.username-label {
  font-size: 14px;
  font-weight: bold;
}
.user-input {
  outline: none;
  background-color: transparent;
  border: 2px solid #6d67e4;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.info-msg {
  font-size: 12px;
  font-weight: bold;
}

.submit-btn {
  background-color: #03c988;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
}

.warning {
  color: #ff6868;
}
