.track-form-main-container {
  width: 100%;
  min-height: 100vh;
  background-image: url("moneyManage.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.track-form-container {
  width: 400px;
  background-color: #fefbf6ce;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 50px;
}

.track-head {
  font-family: "Protest Revolution", "sans-serif";
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #191919;
  margin-bottom: 20px;
}

.drop-down-list {
  width: 100%;
  height: 36px;
  border: 2px solid #03001c;
  background-color: #eeeded7e;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  padding: 4px;
  margin-top: 4px;
  outline: none;
}
.drop-down-list option {
  font-size: 12px;
  font-weight: bold;
}

.track-label {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}
.radio-input {
  margin-right: 4px;
  transform: scale(1.2);
}
.type-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.custom-input {
  width: 100%;
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  border: 2px solid #191919;
  outline: none;
  background-color: #eeeded7e;
  margin-bottom: 10px;
}
.track-submit-btn {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #191919 !important;
  margin-top: 10px;
}
.track-submit-btn:hover {
  background-color: #191919;
  color: #fefbf6 !important;
}
.track-info {
  font-size: 12px;
  font-weight: bold;
  color: #008170;
}

/* media layouts */

/* fold devices width upto 296px */

@media screen and (max-width: 296px) {
  .track-form-container {
    width: 240px;
  }
}

/* mobile devices upto 576px width */

@media screen and (min-width: 298px) and (max-width: 576px) {
  .track-form-container {
    width: 280px;
  }
}
